<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Vesperr Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static '/img/favicon.png' %}" rel="icon">
  <link href="{% static '/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static '/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static '/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr - v4.7.0
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

<body>
  {% include "nav2.html" %}

  <main id="main">


    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
                {% for propiedad in propiedades %}
                    {% for i in propiedad.imagenes.all %}
                      <div class="swiper-slide">
                        <img src="{{i.imagen.url}}" alt="">
                      </div>                    
                    {% endfor %} 
                {% endfor %} 
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Caracteristicas</h3>
              {% for propiedad in propiedades %}
              <table class="table">
                <tbody>
                    <tr>
                        <th scope="row"><img src="{% static '/img/caracteristicas/terreno.png' %}" style="width: 34px" /></th>
                        <th scope="row">Terreno</th>
                        <th scope="row">{{propiedad.m2_terreno}} m<sup>2</sup></th>
                    </tr>
                    <tr>
                        <th scope="row"><img src="{% static '/img/caracteristicas/ladrillo.png' %}" style="width: 34px" /></th>
                        <th scope="row">Construcción</th>
                        <th scope="row">{{propiedad.m2_constru}} m<sup>2</sup></th>
                    </tr>
                    
                        <th scope="row"><img src="{% static '/img/caracteristicas/banos.png' %}" style="width: 34px" /></th>
                        <th scope="row">Baños</th>
                        <th scope="row">{{propiedad.n_baño}} m<sup>2</sup></th>
                    </tr>
                    <tr>
                        <th scope="row"><img src="{% static '/img/caracteristicas/cama.png' %}" style="width: 34px" /></th>
                        <th scope="row">Habitaciones</th>
                        <th scope="row">{{propiedad.n_hab}} m<sup>2</sup></th>
                    </tr>

                    <tr>
                      <th scope="row"><img src="{% static '/img/caracteristicas/precio.png' %}" style="width: 34px" /></th>
                      <th scope="row">Precio</th>
                      <th scope="row">${{propiedad.precio}} </th>
                  </tr>
                </tbody>
            </table>
            
            </div>
            <div class="portfolio-description">
              <h2>Descripción</h2>
              <p>
                {{propiedad.descrip|linebreaks}}
              </p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static '/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static '/vendor/aos/aos.js' %}"></script>
  <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static '/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static '/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static '/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static '/js/main.js' %}"></script>

</body>

</html>